{% extends "base.html" %}
{% load bootstrap %}

{% block extrahead %}
<head>
    <script>
    (function($) {
        $(function() {
            var $header = $('#top-head');
            // Nav Fixed
            $(window).scroll(function() {
                if ($(window).scrollTop() > 350) {
                    $header.addClass('fixed');
                } else {
                    $header.removeClass('fixed');
                }
            });
            // Nav Toggle Button
            $('#nav-toggle').click(function(){
                $header.toggleClass('open');
            });
        });
    })(jQuery);
    </script>
</head>

<header id="top-head">
    <div class="inner">
        <div id="mobile-head">
            <h1 class="logo">{{ logo_name }}</h1>
            <div id="nav-toggle">
                <div>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <nav id="global-nav">
            <ul>
                {% for menu in menus %}
                <li><a href="{{ menu.url }}">{{ menu.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
{% endblock %}
