{% extends "base_navi.html" %}
{% load bootstrap %}

{% block title %}れすぽんしぶてすと index{% endblock title %}

{% block content %}
<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">TOP</a><span class="divider"></span></li>
  <li class="active">れすぽんしぶてすと index</li>
</ul>

{% endblock %}