{% extends "base_navi.html" %}
{% load bootstrap %}

{% block title %}レスポンシブメニューテスト{% endblock title %}

{% block content %}

<h3 class="page-header"></h3>
<br>
<ul class="nav nav-tabs nav-stacked">
  <li><a href="#">テスト</a></li>
  <li><a href="#">テスト2</a></li>
</ul>

{% endblock %}